
/**HYDRA styling code**/


body {
    background: -webkit-linear-gradient(-124deg, rgb(255, 255, 255), rgb(222, 213, 239));
    background: linear-gradient(-124deg, rgb(255, 255, 255), rgb(222, 213, 239));
    /* background by SVGBackgrounds.com */
    font-family: "Oswald", serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "oswald",serif;
}

.wtcSearchResultsPanel{
      margin: 0px 15px;
}

.wtcSearchBodyPanel{
  min-height:500px;
}

.mainDiv{
  margin: 0 auto;
  left: 400px;
  text-align: center;
}

.wtcSearchInputBox{
  z-index: 0;
}

.panel-title{
    font-family: 'Oswald', Serif;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
}

.logo{
    max-width: 100%;
}

.jsgrid {
    position: relative;
    overflow: hidden;
    font-size: 1em;
    font-family: "oswald", serif;
}

.tagline{
    text-align: center;
    font-family: 'Oswald', Serif;
    color: #0d0f7b;
    padding-top: 0px;
    margin-top: 0px;
}

.panel-primary {
    border-color: #0d0f7b;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #0d0f7b;
    border-color: #0d0f7b;
}

.panel-info>.panel-heading {
    color: #0b0e23;
    font-family: "oswald", serif;
    background-color: #fccf5d;
    border-color: #fccf5d;
}

.panel-warning>.panel-heading {
    color: #0b0e23;
    background-color: #fccf5d;
    border-color: #fccf5d;
}

.panel-warning {
    border-color: #fccf5d;
}

.panel-info {
    border-color: #fccf5d;
}

.page-header{
    margin-top: 10px;
}




/*Hide the API Key*/
.apiKeyTMDB{
  display: none;
}


/**Styling based on the Moviedb requests CodePen Project by Kristiyan https://codepen.io/Gochev/pen/rwYxKB  --> **/

#pagesContainer{
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

#pagesContainer a{
  margin-left:5px;
}

#detailsContainer{
  display: inline-block;
  position: relative;
  width: 25%;
  height: 30%;
}

#secondDetailsContainer{
display: inline-block;
position: relative;

width: 50%;
height: 100px;


}
#secondDetailsContainer ul li{
line-height: 35px;
width: 100%;
}

#secondDetailsContainer ul {
  padding: 0;
  height: 100px;
  list-style-type: none;
}

#image{
position:relative;
display: inline-block;
vertical-align:top;
width: 200px;
height: auto%;


}
#detailsContainer ul li{
line-height: 35px;
}

#secondDetailsContainer ul li:last-child{
     line-height: 1.9em;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-height:30px;
    height:auto ;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.movie-id
{
  display: none; /*!important;*/
}
